
/******* general/shared contents ********/
body{
    background-image: url("../images/spiration-light.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-bottom: 70px;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    text-align: center;
}

li {
    display:inline-block;
}

li a, #nameHeading{
    display: block;
    color:#777777;
    text-align: center;
    padding: 0px 22px;
    text-decoration: none;    
}

.linkBorder{
    border-right: 1px solid #dddddd;
}

#contactLink{
    padding-right: 0;
}

li a:hover {
    text-decoration: underline;
    color:#3f3d3d;    
}

#nameHeading{
    color: #ffffff;
    padding: 25px 22px;    
}

#name{
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 200%;
    font-weight: bold;
    margin-right:371px;
} 

.container{
    width: 960px;
    margin: 20px auto;
    background: #ffffff;
    border: 2px solid #dddddd;
    clear: both;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-radius: 5px;
}

.container::after{
    content: "";
    clear: both;
    display: block;
}
.footer{
    background: #666666;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #c2bfbf;
    padding-top: 20px;
    margin-top: -50px;
    height: 50px;
    border-top: 6px solid  #4aaaa5;
}

hr {
    height: 12px;
    width: 94%;
    border: 0;
    box-shadow: inset 0 5px 5px -5px #666666;
    margin: 0 auto;
}

.pageTitle{
    color:  #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 30px;
    font-size: 200%;
    font-weight: bold;
}

/******************************************/
/******* index/about page content ********/
#profilePhoto{
    height: 200px;
    width: 180px;
    float: left;
    margin: 30px 30px 15px 30px;
    border-radius: 3px;
}

.container p{
    color: #777777;
    margin: 30px 30px;
    line-height:1.6;   
}

/******************************************/
/******* contact page content ********/

.formlabel, .nameAndEmail, #messageBox,  button{
    margin-left: 30px;
}
 
.formlabel{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.nameAndEmail{
    width: 900px;
    height: 25px;
    padding: 3px 7px;
    
}

.nameAndEmail, #messageBox{
    margin: 5px 30px 20px 30px; 
    border: 1px solid #d8d3d3;
    border-radius:5px; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#messageBox{
    width: 900px;
    height: 150px;
    padding: 7px 7px;
}

button{
    padding: 15px 40px;
    margin-bottom: 30px;
    background:  #4aaaa5;
    color: #ffffff;
    font-size: 125%;
    border: 0;
    border-radius: 50px;  
    outline: none;  
}

button:hover{
    background:  #3dccc5;
    color: #e2dcdc;
}

/******************************************/
/******* Portfolio page content ********/
#project1{
    background-image: url("../images/creativity.jpg");
}
#project2{
    background-image: url("../images/work.jpg")
}
#project3{
    background-image: url("../images/business.jpg")
}
#project4{
    background-image: url("../images/soccer.jpg")
}
#project5{
    background-image: url("../images/music.jpg")
}

.projectImage{
    height: 200px;
    width: 30%;
    float: left;
    margin: 1.7% 0% 1.7% 3.4%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
} 

.projectImage:hover{
    opacity: 0.9;
}

.projectImage:nth-child(3){
    clear: both;
}

.projectTitle{          
    width: 100%;
    height: 30px;
    background: #4aaaa5;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 125px;
}

.projectTitle a{
    color: white;
    text-decoration: none;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 150%;
}

.projectTitle a:hover {
    font-size: 155%;
    color: rgb(212, 209, 209)
}